.App {
  font-family: sans-serif;
  text-align: center;
}
.tags {
  display: flex;
  /* width: 100px; */

  justify-content: center;
}
.tags button {
  margin: 0 10px;
}

.plan_button {
  padding: 8px 10px;
}
#plantButtonContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
}
#plantButtonContainer button {
  margin-top: 30px;
  background-color: white;
  padding: 10px 20px;
  border-radius: 8px;
}
.plant_container {
  border: 1px solid green;
  margin: 20px auto auto;
  width: 70%;
  padding: 10%;
}
